{
    GSThemeAuthors = (
	"Gregory Casamento"
    );
    GSThemeDetails = Darkness;
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = YES;
	NSMenuInterfaceStyle = NSNextStepInterfaceStyle;
    };
    GSThemeIcon = "Darkness.png";
    GSThemeLicense = GPL;
    GSThemePreview = "Darkness.jpg";
    GSThemeTiles = {
    };
    GSThemeVersion = "1.0";
    GSThemeDarkMode = YES;
}
